.deps
.dirstamp
.libs
.*.swp
*.o
*.lo
*.la
*.so
*~

/autom4te.cache
/config.log
/config.status
/Makefile
/config.h
/libtool

#/m4/libtool.m4
#/m4/lt*
#/aux_scripts
#/configure
#/config.h.in
#/aclocal.m4
#/Makefile.in

/stamp-*
/clish/stamp-*
/clish/plugin_builtin.c
/*.patch
/deb

# Debian files
/build-stamp
/debian/*.log
/debian/tmp
/debian/*substvars
/debian/klish
/debian/klish-dev
/debian/files

# Docs
/doc/*.html
/doc/*.pdf
/doc/*.tex
/doc/*.fpr
/doc/*.log

/cov-int
/klish-*.tar*
/*.tgz
/*.deb
